   
        <div id="dashboard-section">
            <div class="header">
                <h1 class="page-title">Tableau de Bord</h1>
            </div>
            <div class="stats-grid">
                <div class="stat-card">
                    <div class="stat-header">
                        <div><div class="stat-title">Total Enfants</div><div class="stat-value" id="dash-total-enfants">10</div></div>
                        <div class="stat-icon blue"><i class="fas fa-child"></i></div>
                    </div>
                </div>
                
                
            </div>
            
          
        </div>
