@if (!isConnected) {
  <app-auth (statutConnection)="changeIsConnected($event)"></app-auth>
}
@if (isConnected) {

  <app-sidebar></app-sidebar>
  
  <main class="main-content">
    <!-- Bouton menu mobile -->
    <button class="mobile-menu-btn" (click)="toggleSidebar()">
        <i class="fas fa-bars"></i> Menu
    </button>
    
    <!-- Contenu existant... -->
    <router-outlet></router-outlet>

    
    <!-- Autres sections... -->
</main>

<!-- Overlay pour fermer le sidebar en cliquant à côté -->
<div class="sidebar-overlay" id="sidebarOverlay" (click)="closeSidebar()"></div>
}
