

    @if (role==1) {
        <!-- ADMIN -->
        <aside class="sidebar" id="sidebar">
            <div class="logo">
                <div>
                    <div class="logo-text"><i class="fas fa-graduation-cap"></i> EduFreelance</div>
                    <div class="logo-version">v2.6.0</div>
                </div>
            </div>

            <div class="user-profile">
                <div class="user-avatar">
                    <i class="fas fa-user"></i>
                </div>
                <div class="user-info">
                    <h6>Dr. MANGA BETENE</h6>
                    <p>Administrateur</p>
                </div>
            </div>

            <div class="nav-section">
                <div class="nav-title">Navigation</div>
                <a  class="nav-item ">
                    <i class="fas fa-home"></i>
                    <span>Dashboard</span>
                </a>
            </div>

            <!-- <div class="nav-section">
                <div class="nav-title">Gestion</div>
                <a  class="nav-item">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <span>Enseignants</span>
                </a>
                <a  class="nav-item">
                    <i class="fas fa-users"></i>
                    <span>Parents/Élèves</span>
                </a>
                <a  class="nav-item">
                    <i class="fas fa-book"></i>
                    <span>Cours</span>
                </a>
                <a  class="nav-item">
                    <i class="fas fa-calendar-alt"></i>
                    <span>Réservations</span>
                </a>
                <a  class="nav-item">
                    <i class="fas fa-money-bill-wave"></i>
                    <span>Paiements</span>
                </a>
            </div> -->

            <div class="nav-section">
                <div class="nav-title">Autres</div>
                <a  class="nav-item">
                    <i class="fas fa-star"></i>
                    <span>Avis & Notations</span>
                </a>
                <a  class="nav-item">
                    <i class="fas fa-chart-line"></i>
                    <span>Analytiques</span>
                </a>
                <a  class="nav-item" routerLink="admin-settings" routerLinkActive="active">
                    <i class="fas fa-cog"></i>
                    <span>Paramètres</span>
                </a>
            </div>
        </aside>
    }

    @if (role==2) {
        <!-- ENSEIGNANTS -->
        <aside class="sidebar" id="sidebar">
            <div class="logo">
                <div>
                    <div class="logo-text"><i class="fas fa-graduation-cap"></i> EduFreelance</div>
                    <div class="logo-version">v2.7.0</div>
                </div>
            </div>

            <div class="user-profile">
                <div class="user-avatar"><i class="fas fa-user"></i></div>
                <div class="user-info">
                    <h6>Jean KAMGA</h6>
                    <p>Enseignants</p>
                </div>
            </div>

            <div class="nav-section">
                <div class="nav-title">Navigation</div>
                <a  class="nav-item " routerLink="dashboard-enseignant" routerLinkActive="active">
                    <i class="fas fa-home"></i> <span>Dashboard</span>
                </a>
                <!-- <a  class="nav-item" onclick="showSection('planning', this); toggleSidebar()">
                    <i class="fas fa-calendar-alt"></i> <span>Planning</span>
                </a>
                <a  class="nav-item" onclick="showSection('suivi', this); toggleSidebar()">
                    <i class="fas fa-chart-line"></i> <span>Suivi & Rapports</span>
                </a>
                <a  class="nav-item" onclick="showSection('messagerie', this); toggleSidebar()">
                    <i class="fas fa-comments"></i> <span>Messagerie</span>
                </a> -->
            </div>

            <div class="nav-section">
                <div class="nav-title">Gestion</div>
                <a  class="nav-item" routerLink="enseignant-session-repetition" routerLinkActive="active">
                    <i class="fas fa-book-open"></i> <span>Offres</span>
                </a>
                <a  class="nav-item" routerLink="enseignant-enfant" routerLinkActive="active">
                    <i class="fas fa-child"></i> <span>Enfants</span>
                </a>
                
                <a  class="nav-item" routerLink="enseignant-marketplace" routerLinkActive="active">
                    <i class="fas fa-book"></i> <span>MarketPlace</span>
                </a>
            
            </div>
                <div class="nav-section">
                <div class="nav-title">Evaluation</div>
                <a  class="nav-item" routerLink="enseignant-evaluation" routerLinkActive="active">
                    <i class="fas fa-book-open"></i> <span>Evaluation</span>
                </a>          
            </div>

            <div class="nav-section">
                <div class="nav-title">Autres</div>
                <!-- <a  class="nav-item"><i class="fas fa-cog"></i> <span>Paramètres</span></a> -->
                <a  class="nav-item"><i class="fas fa-sign-out-alt"></i> <span>Déconnexion</span></a>
            </div>
        </aside>
    }

    @if (role==3) {
        <!-- PARENT -->
        <aside class="sidebar" id="sidebar">
                <div class="logo">
                    <div>
                        <div class="logo-text"><i class="fas fa-graduation-cap"></i> EduFreelance</div>
                        <div class="logo-version">v2.7.0</div>
                    </div>
                </div>

                <div class="user-profile">
                    <div class="user-avatar"><i class="fas fa-user"></i></div>
                    <div class="user-info">
                        <h6>Jean KAMGA</h6>
                        <p>Parent</p>
                    </div>
                </div>

                <div class="nav-section">
                    <div class="nav-title">Navigation</div>
                    <a class="nav-item " routerLink="parent-dashboard" routerLinkActive="active" >
                        <i class="fas fa-home"></i> <span>Dashboard</span>
                    </a>
                    <!-- <a  class="nav-item" >
                        <i class="fas fa-calendar-alt"></i> <span>Planning</span>
                    </a>
                    <a  class="nav-item" onclick="showSection('suivi', this); toggleSidebar()">
                        <i class="fas fa-chart-line"></i> <span>Suivi & Rapports</span>
                    </a>
                    <a  class="nav-item" onclick="showSection('messagerie', this); toggleSidebar()">
                        <i class="fas fa-comments"></i> <span>Messagerie</span>
                    </a> -->
                </div>

                <div class="nav-section">
                    <div class="nav-title">Gestion</div>
                    <a  class="nav-item" routerLink="parent-enfant" routerLinkActive="active">
                        <i class="fas fa-child"></i> <span>Enfants</span>
                    </a>
                    <!-- <a  class="nav-item" routerLink="parent-paiements" routerLinkActive="active">
                        <i class="fas fa-money-bill-wave"></i> <span>Paiements</span>
                    </a> -->
                    <a  class="nav-item" routerLink="parent-offre-repetition" routerLinkActive="active">
                        <i class="fas fa-book-open"></i> <span>Offres</span>
                    </a>
                </div>

                <div class="nav-section">
                    <div class="nav-title">Autres</div>
                    <!-- <a  class="nav-item"><i class="fas fa-cog"></i> <span>Paramètres</span></a> -->
                    <a  class="nav-item"><i class="fas fa-sign-out-alt"></i> <span>Déconnexion</span></a>
                </div>
        </aside>
    }

    @if (role==4) {
        <!-- ROLE -->
    <aside class="sidebar" id="sidebar">
            <div class="logo">
                <div>
                    <div class="logo-text"><i class="fas fa-graduation-cap"></i> EduFreelance</div>
                    <div class="logo-version">v2.7.0</div>
                </div>
            </div>

            <div class="user-profile">
                <div class="user-avatar"><i class="fas fa-user"></i></div>
                <div class="user-info">
                    <h6>Jean KALVIN</h6>
                    <p>Enfant</p>
                </div>
            </div>

            <div class="nav-section">
                <div class="nav-title">Navigation</div>
                <a class="nav-item " routerLink="dashboard-eleve" routerLinkActive="active" >
                    <i class="fas fa-home"></i> <span>Dashboard</span>
                </a>
                <!-- <a  class="nav-item" >
                    <i class="fas fa-calendar-alt"></i> <span>Planning</span>
                </a>
                <a  class="nav-item" onclick="showSection('suivi', this); toggleSidebar()">
                    <i class="fas fa-chart-line"></i> <span>Suivi & Rapports</span>
                </a>
                <a  class="nav-item" onclick="showSection('messagerie', this); toggleSidebar()">
                    <i class="fas fa-comments"></i> <span>Messagerie</span>
                </a> -->
            </div>

            <div class="nav-section">
                <div class="nav-title">Evaluation</div>
                <a  class="nav-item" routerLink="eleve-evaluation" routerLinkActive="active">
                    <i class="fas fa-child"></i> <span>Evaluation</span>
                </a>
                <!-- <a  class="nav-item" routerLink="parent-paiements" routerLinkActive="active">
                    <i class="fas fa-money-bill-wave"></i> <span>Paiements</span>
                </a> -->
                <!-- <a  class="nav-item" routerLink="eleve-evaluation" routerLinkActive="active">
                    <i class="fas fa-book-open"></i> <span>Offres</span>
                </a> -->
            </div>
            <div class="nav-section">
                <div class="nav-title">Revision</div>
                <a  class="nav-item" routerLink="eleve-assistantia" routerLinkActive="active">
                    <i class="fas fa-book-open"></i> <span>Assistant IA</span>
                </a>
                
            </div>

            <div class="nav-section">
                <div class="nav-title">Autres</div>
                <a  class="nav-item"><i class="fas fa-sign-out-alt"></i> <span>Déconnexion</span></a>
            </div>
    </aside>
    }