
 <main class="main-content">
        
        <button class="mobile-menu-btn" onclick="toggleSidebar()">
            <i class="fas fa-bars"></i> Menu
        </button>
        
        <div id="dashboard-section">
            <div class="header">
                <h1 class="page-title">Gestion des Enfants</h1>
            </div>
            <div class="stats-grid">
                <div class="stat-card">
                    <div class="stat-header">
                        <div><div class="stat-title">Total Enfants</div><div class="stat-value" id="dash-total-enfants">{{countEleveByParent()}}</div></div>
                        <div class="stat-icon blue"><i class="fas fa-child"></i></div>
                    </div>
                </div>
                <div class="stat-card">
                    <div class="stat-header">
                        <div><div class="stat-title">Prochaine Séance</div><div class="stat-value" style="font-size:1.5rem">Demain 14h</div></div>
                        <div class="stat-icon orange"><i class="fas fa-clock"></i></div>
                    </div>
                </div>
                <div class="stat-card">
                    <div class="stat-header">
                        <div><div class="stat-title">Paiements</div><div class="stat-value" id="dash-total-paiements">12</div></div>
                        <div class="stat-icon green"><i class="fas fa-wallet"></i></div>
                    </div>
                </div>
            </div>

        </div>

        <div id="enfants-section" class="">
            <div class="header">
                <button class="btn-primary-custom" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fas fa-plus"></i> Ajouter un Enfant
                </button>
            </div>
            <div class="data-table">
                <div class="table-responsive">
                    <table class="table" id="enfantsTable">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Date Naissance</th>
                                <th>Classe</th>
                                <th>Redoublant</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="enfantsTableBody">
                            @for (e of listEleve(); track $index) {
                                <tr>
                                    <td>{{e.nomComplet}}</td>
                                    <td>{{e.dateNaissance}}</td>
                                    <td>{{e.niveau.intitule}} - {{e.filiere.intitule}} </td>
                                    <td>{{e.redoublant}}</td>
                                    <td>
                                        <i class="fas fa-edit text-info me-2"></i>
                                        <i class="fas fa-trash text-danger me-2"></i>
                                    </td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


      

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter/Modifier un Enfant</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="enfantForm" [formGroup]="eleveForm" (ngSubmit)="createEleve()">
                   <div class="row g-3">
                            <div class="col-md-12">
                                <label class="form-label">Nom Complet *</label>
                                <input type="text" class="form-control" required formControlName="nomComplet">
                            </div>
                            <div class="col-md-6">
                                 <label class="form-label"> Redoublant ? </label>
                                <select class="form-select" id="booleanSelect" formControlName="redoublant">
                                    <option value="">-- Sélectionner --</option>
                                    <option value="true">Oui</option>
                                    <option value="false">Non</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Date de Naissance *</label>
                                <input type="date" class="form-control" required formControlName="dateNaissance">
                            </div>
                            
                              <div class="col-md-6">
                                <label class="form-label">Mot de passe *</label>
                                <input type="password" class="form-control" required placeholder="••••••••" (change)="passwordChange($event)">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Confirmer le mot de passe *</label>
                                <input type="password" class="form-control" required placeholder="••••••••" (change)="confirmPasswordChange($event)">
                            </div>
                            @if (showErrormessage()) {
                                <div class="col-12">
                                    <p class="alert alert-danger">{{this.messageErrorPassword()}}</p>
                                </div>
                            }
                            <div class="col-4">
                                <label class="form-label">Section *</label>
                                <select class="form-select" required (change)="chargeData($event)">
                                    <option value="">Sélectionnez la section</option>
                                    @for (s of listSections(); track $index) {
                                        <option value="{{s.id}}">{{s.intitule}}</option>
                                    }
                                </select>
                            </div>

                             <div class="col-4">
                                <label class="form-label">Niveau *</label>
                                <select class="form-select" required formControlName="niveau">
                                    <option value="">Sélectionnez le Niveau</option>
                                    @for (s of listNiveauBySection(); track $index) {
                                        <option value="{{s.id}}">{{s.intitule}}</option>
                                    }
                                </select>
                            </div>

                             <div class="col-4">
                                <label class="form-label">Filiere *</label>
                                <select class="form-select" required formControlName="filiere">
                                    <option value="">Sélectionnez la FIliere </option>
                                    @for (s of listFiliereBySection(); track $index) {
                                        <option value="{{s.id}}">{{s.intitule}}</option>
                                    }
                                </select>
                            </div>

                             <div class="col-6">
                                <label class="form-label">Photo de Profil  *</label>
                                <div class="component-section compact">
                                    
                                    <!-- Zone d'UPLOAD -->
                                    @if(!fetchPhotoState()){
                                        <div class="upload-container" id="photoUploadArea" onclick="document.getElementById('photoInput').click()">
                                            <div class="upload-icon">
                                                <i class="fas fa-camera"></i>
                                            </div>
                                            <div class="upload-text">Cliquez pour télécharger votre photo</div>
                                            <div class="upload-subtext">ou glissez-déposez votre fichier ici</div>
                                            <button class="btn-upload" type="button">
                                                <i class="fas fa-upload me-2"></i>Sélectionner une photo
                                            </button>
                                            <div class="upload-restrictions">
                                                <i class="fas fa-info-circle me-1"></i>
                                                Formats acceptés: JPG, PNG, JPEG • Taille max: 5 MB
                                            </div>
                                            <input type="file" id="photoInput" class="file-input" accept="image/jpeg,image/png,image/jpg" (change)="selectPhotoUploaded($event)">
                                        </div>
                                    }

                                    @if(fetchPhotoState()){ 
                                         <div class="preview-info">
                                            <div>
                                                <div class="file-name">{{photoFileName()}}</div>
                                            </div>
                                        </div>
                                        <div class="preview-actions">
                                            <button class="btn-remove" >
                                                <i class="fas fa-trash me-2"></i>Supprimer ce document
                                            </button>
                                        </div>
                                    }

                                    
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn-primary-custom w-100" data-bs-dismiss="modal">
                                    <i class="fas fa-save me-2"></i>Enregistrer
                                </button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</main>