
        
        <div id="dashboard-section">
            <div class="header">
                <h1 class="page-title">Tableau de Bord</h1>
            </div>
            <div class="stats-grid">
                <div class="stat-card">
                    <div class="stat-header">
                        <div><div class="stat-title">Total Enfants</div><div class="stat-value" id="dash-total-enfants">{{listEnfant().length}}</div></div>
                        <div class="stat-icon blue"><i class="fas fa-child"></i></div>
                    </div>
                </div>
                
                <div class="stat-card">
                    <div class="stat-header">
                       <div class="comp-form-group">
                            <label class="comp-label "> Choisir votre Enfant </label>
                            <select class="comp-select" (change)="constructDashboard($event)">
                                <option value="">-- Sélectionner --</option>
                                @for (e of listEnfant(); track $index) {
                                    <option value="{{e.id}}">
                                        {{ e.nomComplet }}
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-8 mb-3">
                    <div class="data-table h-100">
                        <h4 class="table-title mb-3">Evolution des evaluations</h4>
                        <div id="dash-planning-preview">
                             <div class="card card-body">
                                    <div class="comp-form-group">
                                        <label class="comp-label "> Visualiser par Matiere</label>
                                        <select class="comp-select" (change)="constructDataForGraph($event)">
                                            <option value="">-- Sélectionner --</option>
                                            @for (t of listMatiere(); track $index) {
                                                <option value="{{t.id}}">
                                                    {{ t.intitule }}
                                                </option>
                                            }
                                        </select>
                                    </div>
                                    @if (!isEmpty()) {
                                        <canvas id="myChart"></canvas>
                                    }@else {
                                        <div class="alert alert-danger">
                                            <i class="fas fa-exclamation-triangle"></i>
                                            Aucune composition enregistré pour cette matiere.
                                        </div>
                                    }
                                </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="data-table h-100">
                        <h4 class="table-title mb-3">Travail A faire </h4>
                         <select class="comp-select mb-3" (change)="findAllCompoNonAchievedByMatiere($event)">
                            <option value="">-- Sélectionner Une Matiere --</option>
                            @for (t of listMatiere(); track $index) {
                                <option value="{{t.id}}">
                                    {{ t.intitule }}
                                </option>
                            }
                         </select>

                        <div class="list-group list-group-flush">
                            @if (listCompoNonAchieved().length!=0) {
                                 @for (c of listCompoNonAchieved(); track $index) {
                                    <div class="list-group-item px-0 ">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h6 class="mb-1 text-primary-custom">{{c.matiere.intitule}}</h6>
                                            <small>{{c.dateCreation}}</small>
                                        </div>
                                        <p class="mb-1 small text-muted">{{c.description}}</p>
                                        @if (c.archived) {
                                            <p class="badge badge-success">Terminé</p>
                                        }
                                        @if (!c.archived) {
                                            <p class="badge badge-warning">En attente</p>
                                        }
                                    </div>
                                }
                            }@else {
                                 <div class="alert alert-danger">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    Aucune composition enregistré pour cette matiere.
                                </div>
                            }
                           
                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
