
        
        <div id="dashboard-section">
            <div class="header">
                <h1 class="page-title">Gestion des Offres</h1>
            </div>
            <div class="stats-grid">
                <div class="stat-card">
                    <div class="stat-header">
                        <div><div class="stat-title">Total Enfants</div><div class="stat-value" id="dash-total-enfants">03</div></div>
                        <div class="stat-icon blue"><i class="fas fa-child"></i></div>
                    </div>
                </div>
                <div class="stat-card">
                    <div class="stat-header">
                        <div><div class="stat-title">Prochaine Séance</div><div class="stat-value" style="font-size:1.5rem">Demain 14h</div></div>
                        <div class="stat-icon orange"><i class="fas fa-clock"></i></div>
                    </div>
                </div>
                <div class="stat-card">
                    <div class="stat-header">
                        <div><div class="stat-title">Paiements</div><div class="stat-value" id="dash-total-paiements">12</div></div>
                        <div class="stat-icon green"><i class="fas fa-wallet"></i></div>
                    </div>
                </div>
            </div>

        </div>

        <div id="offres-section" >
            <div class="header">
                <button class="btn-primary-custom" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="toggleToCreation()">
                    <i class="fas fa-plus"></i> Nouvelle Offre
                </button>
            </div>
            <div class="data-table">
                <div class="row">
                      @if (listOffreRepetitionByParent().length !== 0) {
                            @for (o of listOffreRepetitionByParent(); track o.id) {
                                <div class="col-md-6 offre-card">
                                    <div class="offre-header d-flex justify-content-between">
                                        <h3 class="offre-title">{{ o.intitule }}</h3>
                                        <div>
                                            <i class="fas fa-edit text-info me-2"  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="toggleToEdit(); voirOffre(o)"></i>
                                            <i class="fas fa-trash text-danger me-2"  (click)="deleteOffre(o)"></i>
                                        </div>
                                    </div>
                                    <div class="offre-meta">
                                        @if (o.eleve!.niveau.intitule) {
                                            <div class="meta-item">
                                                <i class="fas fa-graduation-cap"></i>
                                                <span>{{ o.eleve!.niveau.intitule }}</span>
                                            </div>
                                        }
                                        @if (o.eleve!.parent.localisation) {
                                            <div class="meta-item">
                                                <i class="fas fa-map-marker-alt"></i>
                                                <span>{{ o.eleve!.parent.localisation }}</span>
                                            </div>
                                        }
                                    </div>
                                    <p class="offre-description">
                                        {{ o.bio }}
                                    </p>
                                    <div class="offre-footer">
                                        <div class="offre-price">{{ o.salaireMax }} FCFA/h</div>
                                        <div class="offre-date">
                                            <i class="fas fa-clock me-1"></i>{{ o.dateCreation }}
                                        </div>
                                    </div>
                                </div>
                            }
                        } @else {
                            <div class="d-flex justify-content-center p-4">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="visually-hidden">Chargement...</span>
                                </div>
                            </div>
                        }
                </div>
            </div>
        </div>


      

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        @if (isCreation()) {
                            Créer une Offre
                        }
                        @if (!isCreation()) {
                            Editer une offre
                        }
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="toggleToCreation()"></button>
                </div>
                <div class="modal-body">
                    <form id="offreForm" [formGroup]="offreRepitionForm" (ngSubmit)="createOffreRepetition()">
                        <div class="row g-3">
                             <div class="col-12">
                                <select class="form-select" required formControlName="eleve">
                                    <label class="form-label">Selectionner l'enfant *</label>
                                    <option value="">Selectionner</option>
                                    @for (e of listEnfant(); track $index) {
                                        <option value="{{e.id}}">{{e.nomComplet}}</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">Intitule *</label>
                                <input type="text" class="form-control" required formControlName="intitule" placeholder="EX :Repetition de Mathematique">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Salaire Min (XAF) *</label>
                                <input type="text" class="form-control" required formControlName="salaireMin" placeholder="EX : 250000">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Salaire Max (XAF) *</label>
                                <input type="text" class="form-control" required formControlName="salaireMax" placeholder="EX 350000">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Frequence (nombre de Jours ) *</label>
                                <input type="number" class="form-control" required formControlName="frequence" placeholder="EX : 3">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Duree (nombre d'heures) *</label>
                                <input type="number" class="form-control" required formControlName="duree" placeholder="EX : 2">
                            </div>
                             <div class="col-md-12">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description" rows="4" placeholder="Entrez votre texte ici..." formControlName="bio"></textarea>
                            </div>
                             <div class="col-12">
                                <button type="submit" class="btn-primary-custom w-100" data-bs-dismiss="modal">
                                    <i class="fas fa-edit me-2"></i>Enregistrer
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
